.mfn-item,
.mfn-item button,
.mfn-item span.date_label,
.mfn-item .timeline_items li h3 span,
.mfn-item input[type="submit"],
.mfn-item input[type="reset"],
.mfn-item input[type="button"],
.mfn-item input[type="text"],
.mfn-item input[type="password"],
.mfn-item input[type="tel"],
.mfn-item input[type="email"],
.mfn-item textarea,
.mfn-item select,
.mfn-item .offer_li .title h3{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item #menu > ul > li > a,
.mfn-item a.action_button,
.mfn-item #overlay-menu ul li a{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item #Subheader .title{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item h1,
.mfn-item h2,
.mfn-item h3,
.mfn-item h4,
.mfn-item .text-logo #logo{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item h5,
.mfn-item h6{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item blockquote{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item .chart_box .chart .num,
.mfn-item .counter .desc_wrapper .number-wrapper,
.mfn-item .how_it_works .image .number,
.mfn-item .pricing-box .plan-header .price,
.mfn-item .quick_fact .number-wrapper,
.mfn-item.woocommerce .product div.entry-summary .price{font-family:"Poppins",Helvetica,Arial,sans-serif}
.mfn-item{font-size: 15px;     line-height: 28px;     font-weight: 400;     letter-spacing: 0px;}
.mfn-item .big{font-size:16px;line-height:28px;font-weight:400;letter-spacing:0}
.mfn-item #menu > ul > li > a,
.mfn-item a.action_button,
.mfn-item #overlay-menu ul li a{font-size:15px;font-weight:400;letter-spacing:0}
.mfn-item #overlay-menu ul li a{line-height:22.5px}
.mfn-item #Subheader .title{font-size:30px;line-height:35px;font-weight:400;letter-spacing:1px;font-style:italic}
.mfn-item h1, 
.mfn-item .text-logo #logo {font-size: 50px;line-height: 60px;font-weight: 500;letter-spacing: 0px;}
.mfn-item h2 {font-size: 40px;line-height: 50px;font-weight: 500;letter-spacing: 0px;}
.mfn-item h3 {font-size: 30px;line-height: 40px;font-weight: 400;letter-spacing: 0px;}
.mfn-item h4 {font-size: 20px;line-height: 30px;font-weight: 600;letter-spacing: 0px;}
.mfn-item h5 {font-size: 18px;line-height: 30px;font-weight: 400;letter-spacing: 0px;}
.mfn-item h6 {font-size: 15px;line-height: 26px;font-weight: 700;letter-spacing: 0px;}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.mfn-item{font-size:13px;line-height:21px;letter-spacing:0}
	.mfn-item .big{font-size:14px;line-height:24px;letter-spacing:0}
	.mfn-item #menu > ul > li > a,
	.mfn-item a.action_button,
	.mfn-item #overlay-menu ul li a{font-size:13px;letter-spacing:0}
	.mfn-item #overlay-menu ul li a{line-height:19.5px;letter-spacing:0}
	.mfn-item #Subheader .title{font-size:26px;line-height:30px;letter-spacing:1px}
	.mfn-item h1,
	.mfn-item .text-logo #logo{font-size:41px;line-height:43px;letter-spacing:0}
	.mfn-item h2{font-size:26px;line-height:29px;letter-spacing:0}
	.mfn-item h3{font-size:21px;line-height:25px;letter-spacing:0}
	.mfn-item h4{font-size:18px;line-height:21px;letter-spacing:0}
	.mfn-item h5{font-size:13px;line-height:21px;letter-spacing:0}
	.mfn-item h6{font-size:13px;line-height:21px;letter-spacing:0}
	.mfn-item #Intro .intro-title{font-size:60px;line-height:60px;letter-spacing:0}
	.mfn-item blockquote{font-size:15px}
	.mfn-item .chart_box .chart .num{font-size:45px;line-height:45px}
	.mfn-item .counter .desc_wrapper .number-wrapper{font-size:45px;line-height:45px}
	.mfn-item .counter .desc_wrapper .title{font-size:14px;line-height:18px}
	.mfn-item .faq .question .title{font-size:14px}
	.mfn-item .fancy_heading .title{font-size:38px;line-height:38px}
	.mfn-item .offer .offer_li .desc_wrapper .title h3{font-size:32px;line-height:32px}
	.mfn-item .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3{font-size:32px;line-height:32px}
	.mfn-item .pricing-box .plan-header h2{font-size:27px;line-height:27px}
	.mfn-item .pricing-box .plan-header .price > span{font-size:40px;line-height:40px}
	.mfn-item .pricing-box .plan-header .price sup.currency{font-size:18px;line-height:18px}
	.mfn-item .pricing-box .plan-header .price sup.period{font-size:14px;line-height:14px}
	.mfn-item .quick_fact .number{font-size:80px;line-height:80px}
	.mfn-item .trailer_box .desc h2{font-size:27px;line-height:27px}
	.mfn-item .widget > h3{font-size:17px;line-height:20px}
	}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.mfn-item{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item .big{font-size:13px;line-height:21px;letter-spacing:0}
	.mfn-item h1{font-size:36px;line-height:38px;letter-spacing:0}
	.mfn-item h2{font-size:23px;line-height:26px;letter-spacing:0}
	.mfn-item h3{font-size:19px;line-height:22px;letter-spacing:0}
	.mfn-item h4{font-size:16px;line-height:19px;letter-spacing:0}
	.mfn-item h5{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item h6{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item blockquote{font-size:14px}
	.mfn-item .chart_box .chart .num{font-size:40px;line-height:40px}
	.mfn-item .counter .desc_wrapper .number-wrapper{font-size:40px;line-height:40px}
	.mfn-item .counter .desc_wrapper .title{font-size:13px;line-height:16px}
	.mfn-item .faq .question .title{font-size:13px}
	.mfn-item .fancy_heading .title{font-size:34px;line-height:34px}
	.mfn-item .offer .offer_li .desc_wrapper .title h3{font-size:28px;line-height:28px}
	.mfn-item .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3{font-size:28px;line-height:28px}
	.mfn-item .pricing-box .plan-header h2{font-size:24px;line-height:24px}
	.mfn-item .pricing-box .plan-header .price > span{font-size:34px;line-height:34px}
	.mfn-item .pricing-box .plan-header .price sup.currency{font-size:16px;line-height:16px}
	.mfn-item .pricing-box .plan-header .price sup.period{font-size:13px;line-height:13px}
	.mfn-item .quick_fact .number{font-size:70px;line-height:70px}
	.mfn-item .trailer_box .desc h2{font-size:24px;line-height:24px}
	.mfn-item .widget > h3{font-size:16px;line-height:19px}
}

@media only screen and (max-width: 479px) {
	.mfn-item{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item .big{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item #menu > ul > li > a,
	.mfn-item a.action_button,
	.mfn-item #overlay-menu ul li a{font-size:13px;letter-spacing:0}
	.mfn-item #overlay-menu ul li a{line-height:19.5px;letter-spacing:0}
	.mfn-item #Subheader .title{font-size:18px;line-height:21px;letter-spacing:1px}
	.mfn-item h1,
	.mfn-item .text-logo #logo{font-size:29px;line-height:30px;letter-spacing:0}
	.mfn-item h2{font-size:18px;line-height:20px;letter-spacing:0}
	.mfn-item h3{font-size:15px;line-height:19px;letter-spacing:0}
	.mfn-item h4{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item h5{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item h6{font-size:13px;line-height:19px;letter-spacing:0}
	.mfn-item #Intro .intro-title{font-size:42px;line-height:42px;letter-spacing:0}
	.mfn-item blockquote{font-size:13px}
	.mfn-item .chart_box .chart .num{font-size:35px;line-height:35px}
	.mfn-item .counter .desc_wrapper .number-wrapper{font-size:35px;line-height:35px}
	.mfn-item .counter .desc_wrapper .title{font-size:13px;line-height:26px}
	.mfn-item .faq .question .title{font-size:13px}
	.mfn-item .fancy_heading .title{font-size:30px;line-height:30px}
	.mfn-item .offer .offer_li .desc_wrapper .title h3{font-size:26px;line-height:26px}
	.mfn-item .offer_thumb_ul li.offer_thumb_li .desc_wrapper .title h3{font-size:26px;line-height:26px}
	.mfn-item .pricing-box .plan-header h2{font-size:21px;line-height:21px}
	.mfn-item .pricing-box .plan-header .price > span{font-size:32px;line-height:32px}
	.mfn-item .pricing-box .plan-header .price sup.currency{font-size:14px;line-height:14px}
	.mfn-item .pricing-box .plan-header .price sup.period{font-size:13px;line-height:13px}
	.mfn-item .quick_fact .number{font-size:60px;line-height:60px}
	.mfn-item .trailer_box .desc h2{font-size:21px;line-height:21px}
	.mfn-item .widget > h3{font-size:15px;line-height:18px}
}

.mfn-item .with_aside .sidebar.columns{width:23%}
.mfn-item .with_aside .sections_group{width:77%}
.mfn-item .aside_both .sidebar.columns{width:18%}
.mfn-item .aside_both .sidebar.sidebar-1{margin-left:-82%}
.mfn-item .aside_both .sections_group{width:64%;margin-left:18%}

@media only screen and (min-width:1240px) {
	.mfn-item #Wrapper,
	.mfn-item .with_aside .content_wrapper{max-width:1000px}
	.mfn-item .section_wrapper,
	.mfn-item .container{max-width:980px}
	.mfn-item .layout-boxed.header-boxed #Top_bar.is-sticky{max-width:1000px}
}

@media only screen and (max-width: 767px) {
	.mfn-item .section_wrapper,
	.mfn-item .container,
	.mfn-item .four.columns .widget-area{max-width:480px!important}
}

.mfn-item .button-default .button,
.mfn-item .button-flat .button,
.mfn-item .button-round .button{background-color:#f7f7f7;color:#747474}
.mfn-item .button-stroke .button{border-color:#f7f7f7;color:#747474}
.mfn-item .button-stroke .button:hover{background-color:#f7f7f7;color:#fff}
.mfn-item .button-default .button_theme,
.mfn-item .button-default button,
.mfn-item .button-default input[type="button"],
.mfn-item .button-default input[type="reset"],
.mfn-item .button-default input[type="submit"],
.mfn-item .button-flat .button_theme,
.mfn-item .button-flat button,
.mfn-item .button-flat input[type="button"],
.mfn-item .button-flat input[type="reset"],
.mfn-item .button-flat input[type="submit"],
.mfn-item .button-round .button_theme,
.mfn-item .button-round button,
.mfn-item .button-round input[type="button"],
.mfn-item .button-round input[type="reset"],
.mfn-item .button-round input[type="submit"],
.mfn-item.woocommerce #respond input#submit,
.mfn-item.woocommerce a.button:not(.default),
.mfn-item.woocommerce button.button,
.mfn-item.woocommerce input.button,
.mfn-item.woocommerce #respond input#submit:hover,
.mfn-item.woocommerce a.button:hover,
.mfn-item.woocommerce button.button:hover,
.mfn-item.woocommerce input.button:hover{color:#fff}
.mfn-item .button-stroke .button_theme:hover,
.mfn-item .button-stroke button:hover,
.mfn-item .button-stroke input[type="submit"]:hover,
.mfn-item .button-stroke input[type="reset"]:hover,
.mfn-item .button-stroke input[type="button"]:hover,
.mfn-item .button-stroke .woocommerce #respond input#submit:hover,
.mfn-item .button-stroke .woocommerce a.button:not(.default):hover,
.mfn-item .button-stroke .woocommerce button.button:hover,
.mfn-item .button-stroke.woocommerce input.button:hover{color:#fff!important}
.mfn-item .button-stroke .button_theme:hover .button_icon i{color:#fff!important}
.mfn-item .button-default .single_add_to_cart_button,
.mfn-item .button-flat .single_add_to_cart_button,
.mfn-item .button-round .single_add_to_cart_button,
.mfn-item .button-default .woocommerce .button:disabled,
.mfn-item .button-flat .woocommerce .button:disabled,
.mfn-item .button-round .woocommerce .button:disabled,
.mfn-item .button-default .woocommerce .button.alt .button-flat .woocommerce .button.alt,
.mfn-item .button-round .woocommerce .button.alt,
.mfn-item .button-default a.remove,
.mfn-item .button-flat a.remove,
.mfn-item .button-round a.remove{color:#fff!important}
.mfn-item .action_button,
.mfn-item .action_button:hover{background-color:#f7f7f7;color:#747474}
.mfn-item .button-stroke a.action_button{border-color:#f7f7f7}
.mfn-item .button-stroke a.action_button:hover{background-color:#f7f7f7!important}
.mfn-item .footer_button{color:#65666C!important;background-color:transparent;box-shadow:none!important}
.mfn-item .footer_button:after{display:none!important}
.mfn-item .button-custom .button,
.mfn-item .button-custom .action_button,
.mfn-item .button-custom .footer_button,
.mfn-item .button-custom button,
.mfn-item .button-custom input[type="button"],
.mfn-item .button-custom input[type="reset"],
.mfn-item .button-custom input[type="submit"],
.mfn-item .button-custom .woocommerce #respond input#submit,
.mfn-item .button-custom .woocommerce a.button,
.mfn-item .button-custom .woocommerce button.button,
.mfn-item .button-custom .woocommerce input.button{font-family:Architects Daughter;font-size:14px;line-height:14px;font-weight:400;letter-spacing:0;padding:10px 20px;border-width:1px;border-radius:4px}
.mfn-item .button-custom .button{color:#626262;background-color:#d3d3d3;border-color:transparent}
.mfn-item .button-custom .button:hover{color:#dbdddf;background-color:#d3d3d3;border-color:#ee2}
.mfn-item .button-custom .button_theme,
.mfn-item .button-custom button,
.mfn-item .button-custom input[type="button"],
.mfn-item .button-custom input[type="reset"],
.mfn-item .button-custom input[type="submit"],
.mfn-item .button-custom .woocommerce #respond input#submit,
.mfn-item .button-custom .woocommerce a.button:not(.default),
.mfn-item .button-custom .woocommerce button.button,
.mfn-item .button-custom .woocommerce input.button{color:#d33;background-color:#8224e3;border-color:transparent}
.mfn-item .button-custom .button_theme:hover,
.mfn-item .button-custom button:hover,
.mfn-item .button-custom input[type="button"]:hover,
.mfn-item .button-custom input[type="reset"]:hover,
.mfn-item .button-custom input[type="submit"]:hover,
.mfn-item .button-custom .woocommerce #respond input#submit:hover,
.mfn-item .button-custom .woocommerce a.button:not(.default):hover,
.mfn-item .button-custom .woocommerce button.button:hover,
.mfn-item .button-custom .woocommerce input.button:hover{color:#81d742;background-color:#007cc3;border-color:#626262}
.mfn-item .button-custom .action_button{color:#626262;background-color:#d3d3d3;border-color:transparent}
.mfn-item .button-custom .action_button:hover{color:#dbdddf;background-color:#d3d3d3;border-color:transparent}
.mfn-item .button-custom .single_add_to_cart_button,
.mfn-item .button-custom .woocommerce .button:disabled,
.mfn-item .button-custom .woocommerce .button.alt,
.mfn-item .button-custom a.remove{line-height:14px!important;padding:10px 20px!important;color:#d33!important;background-color:#8224e3!important}
.mfn-item .button-custom .single_add_to_cart_button:hover,
.mfn-item .button-custom .woocommerce .button:disabled:hover,
.mfn-item .button-custom .woocommerce .button.alt:hover,
.mfn-item .button-custom a.remove:hover{color:#81d742!important;background-color:#007cc3!important}
.mfn-item #Top_bar #logo,
.mfn-item .header-fixed #Top_bar #logo,
.mfn-item .header-plain #Top_bar #logo,
.mfn-item .header-transparent #Top_bar #logo{height:60px;line-height:60px;padding:15px 0}
.mfn-item .logo-overflow #Top_bar:not(.is-sticky) .logo{height:90px}
.mfn-item #Top_bar .menu > li > a{padding:15px 0}
.mfn-item .menu-highlight:not(.header-creative) #Top_bar .menu > li > a{margin:20px 0}
.mfn-item .header-plain:not(.menu-highlight) #Top_bar .menu > li > a span:not(.description){line-height:90px}
.mfn-item .header-fixed #Top_bar .menu > li > a{padding:30px 0}
.mfn-item #Top_bar .top_bar_right,
.mfn-item .header-plain #Top_bar .top_bar_right{height:90px}
.mfn-item #Top_bar .top_bar_right_wrapper{top:25px}
.mfn-item .header-plain #Top_bar a#header_cart,
.mfn-item .header-plain #Top_bar a#search_button,
.mfn-item .header-plain #Top_bar .wpml-languages{line-height:90px}
.mfn-item .header-plain #Top_bar a.action_button{line-height:90px!important}
.mfn-item 
.mfn-item .twentytwenty-before-label::before{content:"Before"}
.mfn-item .twentytwenty-after-label::before{content:"After"}
.mfn-item #Side_slide{right:-250px;width:250px}
.mfn-item #Side_slide.left{left:-250px}
.mfn-item .blog-teaser li .desc-wrapper .desc{background-position-y:-1px}
.mfn-item ul.timeline_items,
.mfn-item .icon_box a .desc,
.mfn-item .icon_box a:hover .desc,
.mfn-item .feature_list ul li a,
.mfn-item .list_item a,
.mfn-item .list_item a:hover,
.mfn-item .widget_recent_entries ul li a,
.mfn-item .flat_box a,
.mfn-item .flat_box a:hover,
.mfn-item .story_box .desc,
.mfn-item .content_slider.carousel ul li a .title,
.mfn-item .content_slider.flat.description ul li .desc,
.mfn-item .content_slider.flat.description ul li a .desc,
.mfn-item .post-nav.minimal a i{color:#626262}
.mfn-item .post-nav.minimal a svg{fill:#626262}
.mfn-item .themecolor,
.mfn-item .opening_hours .opening_hours_wrapper li span,
.mfn-item .fancy_heading_icon .icon_top,
.mfn-item .fancy_heading_arrows .icon-right-dir,
.mfn-item .fancy_heading_arrows .icon-left-dir,
.mfn-item .fancy_heading_line .title,
.mfn-item .button-love a.mfn-love,
.mfn-item .format-link .post-title .icon-link,
.mfn-item .pager-single > span,
.mfn-item .pager-single a:hover,
.mfn-item .widget_meta ul,
.mfn-item .widget_pages ul,
.mfn-item .widget_rss ul,
.mfn-item .widget_mfn_recent_comments ul li:after,
.mfn-item .widget_archive ul,
.mfn-item .widget_recent_comments ul li:after,
.mfn-item .widget_nav_menu ul,
.mfn-item.woocommerce ul.products li.product .price,
.mfn-item .shop_slider .shop_slider_ul li .item_wrapper .price,
.mfn-item.woocommerce-page ul.products li.product .price,
.mfn-item .widget_price_filter .price_label .from,
.mfn-item .widget_price_filter .price_label .to,
.mfn-item.woocommerce ul.product_list_widget li .quantity .amount,
.mfn-item.woocommerce .product div.entry-summary .price,
.mfn-item.woocommerce .star-rating span,
.mfn-item #Error_404 .error_pic i,
.mfn-item.style-simple #Filters .filters_wrapper ul li a:hover,
.mfn-item.style-simple #Filters .filters_wrapper ul li.current-cat a,
.mfn-item.style-simple .quick_fact .title{color:#0089f7}
.mfn-item .themebg,
.mfn-item #comments .commentlist > li .reply a.comment-reply-link,
.mfn-item #Filters .filters_wrapper ul li a:hover,
.mfn-item #Filters .filters_wrapper ul li.current-cat a,
.mfn-item .fixed-nav .arrow,
.mfn-item .offer_thumb .slider_pagination a:before,
.mfn-item .offer_thumb .slider_pagination a.selected:after,
.mfn-item .pager .pages a:hover,
.mfn-item .pager .pages a.active,
.mfn-item .pager .pages span.page-numbers.current,
.mfn-item .pager-single span:after,
.mfn-item .portfolio_group.exposure .portfolio-item .desc-inner .line,
.mfn-item .Recent_posts ul li .desc:after,
.mfn-item .Recent_posts ul li .photo .c,
.mfn-item .slider_pagination a.selected,
.mfn-item .slider_pagination .slick-active a,
.mfn-item .slider_pagination a.selected:after,
.mfn-item .slider_pagination .slick-active a:after,
.mfn-item .testimonials_slider .slider_images,
.mfn-item .testimonials_slider .slider_images a:after,
.mfn-item .testimonials_slider .slider_images:before,
.mfn-item #Top_bar a#header_cart span,
.mfn-item .widget_categories ul,
.mfn-item .widget_mfn_menu ul li a:hover,
.mfn-item .widget_mfn_menu ul li.current-menu-item:not(.current-menu-ancestor) > a,
.mfn-item .widget_mfn_menu ul li.current_page_item:not(.current_page_ancestor) > a,
.mfn-item .widget_product_categories ul,
.mfn-item .widget_recent_entries ul li:after,
.mfn-item.woocommerce-account table.my_account_orders .order-number a,
.mfn-item.woocommerce-MyAccount-navigation ul li.is-active a,
.mfn-item.style-simple .accordion .question:after,
.mfn-item.style-simple .faq .question:after,
.mfn-item.style-simple .icon_box .desc_wrapper .title:before,
.mfn-item.style-simple #Filters .filters_wrapper ul li a:after,
.mfn-item.style-simple .article_box .desc_wrapper p:after,
.mfn-item.style-simple .sliding_box .desc_wrapper:after,
.mfn-item.style-simple .trailer_box:hover .desc,
.mfn-item .tp-bullets.simplebullets.round .bullet.selected,
.mfn-item .tp-bullets.simplebullets.round .bullet.selected:after,
.mfn-item .tparrows.default,
.mfn-item .tp-bullets.tp-thumbs .bullet.selected:after{background-color:#0089f7}
.mfn-item .Latest_news ul li .photo,
.mfn-item .Recent_posts.blog_news ul li .photo,
.mfn-item.style-simple .opening_hours .opening_hours_wrapper li label,
.mfn-item.style-simple .timeline_items li:hover h3,
.mfn-item.style-simple .timeline_items li:nth-child(even):hover h3,
.mfn-item.style-simple .timeline_items li:hover .desc,
.mfn-item.style-simple .timeline_items li:nth-child(even):hover,
.mfn-item.style-simple .offer_thumb .slider_pagination a.selected{border-color:#0089f7}
.mfn-item a{color:#0089f7}
.mfn-item a:hover{color:#007cc3}
.mfn-item ::-moz-selection{background-color:#0089f7;color:#fff}
.mfn-item ::selection{background-color:#0089f7;color:#fff}
.mfn-item .blockquote p.author span,
.mfn-item .counter .desc_wrapper .title,
.mfn-item .article_box .desc_wrapper p,
.mfn-item .team .desc_wrapper p.subtitle,
.mfn-item .pricing-box .plan-header p.subtitle,
.mfn-item .pricing-box .plan-header .price sup.period,
.mfn-item .chart_box p,
.mfn-item .fancy_heading .inside,
.mfn-item .fancy_heading_line .slogan,
.mfn-item .post-meta,
.mfn-item .post-meta a,
.mfn-item .post-footer,
.mfn-item .post-footer a span.label,
.mfn-item .pager .pages a,
.mfn-item .button-love a .label,
.mfn-item .pager-single a,
.mfn-item #comments .commentlist > li .comment-author .says,
.mfn-item .fixed-nav .desc .date,
.mfn-item .filters_buttons li.label,
.mfn-item .Recent_posts ul li a .desc .date,
.mfn-item .widget_recent_entries ul li .post-date,
.mfn-item .tp_recent_tweets .twitter_time,
.mfn-item .widget_price_filter .price_label,
.mfn-item .shop-filters .woocommerce-result-count,
.mfn-item.woocommerce ul.product_list_widget li .quantity,
.mfn-item .widget_shopping_cart ul.product_list_widget li dl,
.mfn-item .product_meta .posted_in,
.mfn-item.woocommerce .shop_table .product-name .variation > dd,
.mfn-item .shipping-calculator-button:after,
.mfn-item .shop_slider .shop_slider_ul li .item_wrapper .price del,
.mfn-item .testimonials_slider .testimonials_slider_ul li .author span,
.mfn-item .testimonials_slider .testimonials_slider_ul li .author span a,
.mfn-item .Latest_news ul li .desc_footer,
.mfn-item .share-simple-wrapper .icons a{color:#a8a8a8}
.mfn-item h1,
.mfn-item h1 a,
.mfn-item h1 a:hover,
.mfn-item .text-logo #logo{color:#161922}
.mfn-item h2,
.mfn-item h2 a,
.mfn-item h2 a:hover{color:#161922}
.mfn-item h3,
.mfn-item h3 a,
.mfn-item h3 a:hover{color:#161922}
.mfn-item h4,
.mfn-item h4 a,
.mfn-item h4 a:hover,
.mfn-item.style-simple .sliding_box .desc_wrapper h4{color:#161922}
.mfn-item h5,
.mfn-item h5 a,
.mfn-item h5 a:hover{color:#161922}
.mfn-item h6,
.mfn-item h6 a,
.mfn-item h6 a:hover,
.mfn-item a.content_link .title{color:#161922}
.mfn-item .dropcap,
.mfn-item .highlight:not(.highlight_image){background-color:#0089f7}
.mfn-item .button-default .button_theme,
.mfn-item .button-default button,
.mfn-item .button-default input[type="button"],
.mfn-item .button-default input[type="reset"],
.mfn-item .button-default input[type="submit"],
.mfn-item .button-flat .button_theme,
.mfn-item .button-flat button,
.mfn-item .button-flat input[type="button"],
.mfn-item .button-flat input[type="reset"],
.mfn-item .button-flat input[type="submit"],
.mfn-item .button-round .button_theme,
.mfn-item .button-round button,
.mfn-item .button-round input[type="button"],
.mfn-item .button-round input[type="reset"],
.mfn-item .button-round input[type="submit"],
.mfn-item.woocommerce #respond input#submit,
.mfn-item.woocommerce a.button:not(.default),
.mfn-item.woocommerce button.button,
.mfn-item.woocommerce input.button,
.mfn-item.woocommerce #respond input#submit:hover,
.mfn-item.woocommerce a.button:not(.default):hover,
.mfn-item.woocommerce button.button:hover,
.mfn-item.woocommerce input.button:hover{background-color:#0089f7}
.mfn-item .button-stroke .button_theme,
.mfn-item .button-stroke .button_theme .button_icon i,
.mfn-item .button-stroke button,
.mfn-item .button-stroke input[type="submit"],
.mfn-item .button-stroke input[type="reset"],
.mfn-item .button-stroke input[type="button"],
.mfn-item .button-stroke .woocommerce #respond input#submit,
.mfn-item .button-stroke .woocommerce a.button:not(.default),
.mfn-item .button-stroke .woocommerce button.button,
.mfn-item .button-stroke.woocommerce input.button{border-color:#0089f7;color:#0089f7!important}
.mfn-item .button-stroke .button_theme:hover,
.mfn-item .button-stroke button:hover,
.mfn-item .button-stroke input[type="submit"]:hover,
.mfn-item .button-stroke input[type="reset"]:hover,
.mfn-item .button-stroke input[type="button"]:hover{background-color:#0089f7}
.mfn-item .button-default .single_add_to_cart_button,
.mfn-item .button-flat .single_add_to_cart_button,
.mfn-item .button-round .single_add_to_cart_button,
.mfn-item .button-default .woocommerce .button:disabled,
.mfn-item .button-flat .woocommerce .button:disabled,
.mfn-item .button-round .woocommerce .button:disabled,
.mfn-item .button-default .woocommerce .button.alt,
.mfn-item .button-flat .woocommerce .button.alt,
.mfn-item .button-round .woocommerce .button.alt{background-color:#0089f7!important}
.mfn-item .button-stroke .single_add_to_cart_button:hover,
.mfn-item .button-stroke #place_order:hover{background-color:#0089f7!important}
.mfn-item a.mfn-link{color:#656B6F}
.mfn-item a.mfn-link-2 span,
.mfn-item a:hover.mfn-link-2 span:before,
.mfn-item a.hover.mfn-link-2 span:before,
.mfn-item a.mfn-link-5 span,
.mfn-item a.mfn-link-8:after,
.mfn-item a.mfn-link-8:before{background:#0089f7}
.mfn-item a:hover.mfn-link{color:#0089f7}
.mfn-item a.mfn-link-2 span:before,
.mfn-item a:hover.mfn-link-4:before,
.mfn-item a:hover.mfn-link-4:after,
.mfn-item a.hover.mfn-link-4:before,
.mfn-item a.hover.mfn-link-4:after,
.mfn-item a.mfn-link-5:before,
.mfn-item a.mfn-link-7:after,
.mfn-item a.mfn-link-7:before{background:#007cc3}
.mfn-item a.mfn-link-6:before{border-bottom-color:#007cc3}
.mfn-item .column_column ul,
.mfn-item .column_column ol,
.mfn-item .the_content_wrapper:not(.is-elementor) ul,
.mfn-item .the_content_wrapper:not(.is-elementor) ol{color:#737E86}
.mfn-item hr.hr_color,
.mfn-item .hr_color hr,
.mfn-item .hr_dots span{color:#0089f7;background:#0089f7}
.mfn-item .hr_zigzag i{color:#0089f7}
.mfn-item .highlight-left:after,
.mfn-item .highlight-right:after{background:#0089f7}

@media only screen and (max-width: 767px) {
	.mfn-item .highlight-left .wrap:first-child,
	.mfn-item .highlight-right .wrap:last-child{background:#0089f7}
}

.mfn-item blockquote,
.mfn-item blockquote a,
.mfn-item blockquote a:hover{color:#444}
.mfn-item .image_frame .image_wrapper .image_links,
.mfn-item .portfolio_group.masonry-hover .portfolio-item .masonry-hover-wrapper .hover-desc{background:rgba(0,149,235,0.8)}
.mfn-item .masonry.tiles .post-item .post-desc-wrapper .post-desc .post-title:after,
.mfn-item .masonry.tiles .post-item.no-img,
.mfn-item .masonry.tiles .post-item.format-quote,
.mfn-item .blog-teaser li .desc-wrapper .desc .post-title:after,
.mfn-item .blog-teaser li.no-img,
.mfn-item .blog-teaser li.format-quote{background:#0089f7}
.mfn-item .image_frame .image_wrapper .image_links a{color:#fff}
.mfn-item .image_frame .image_wrapper .image_links a:hover{background:#fff;color:#0089f7}
.mfn-item .image_frame{border-color:#f8f8f8}
.mfn-item .image_frame .image_wrapper .mask::after{background:rgba(255,255,255,0.4)}
.mfn-item .sliding_box .desc_wrapper{background:#0089f7}
.mfn-item .sliding_box .desc_wrapper:after{border-bottom-color:#0089f7}
.mfn-item .counter .icon_wrapper i{color:#0089f7}
.mfn-item .quick_fact .number-wrapper .number{color:#0089f7}
.mfn-item .progress_bars .bars_list li .bar .progress{background-color:#0089f7}
.mfn-item a:hover.icon_bar{color:#0089f7!important}
.mfn-item a.content_link,
.mfn-item a:hover.content_link{color:#0089f7}
.mfn-item a.content_link:before{border-bottom-color:#0089f7}
.mfn-item a.content_link:after{border-color:#0089f7}
.mfn-item .get_in_touch,
.mfn-item .infobox{background-color:#0089f7}
.mfn-item .google-map-contact-wrapper .get_in_touch:after{border-top-color:#0089f7}
.mfn-item .timeline_items li h3:before,
.mfn-item .timeline_items:after,
.mfn-item .timeline .post-item:before{border-color:#0089f7}
.mfn-item .how_it_works .image .number{background:#0089f7}
.mfn-item .trailer_box .desc .subtitle,
.mfn-item .trailer_box.plain .desc .line{background-color:#0089f7}
.mfn-item .trailer_box.plain .desc .subtitle{color:#0089f7}
.mfn-item .icon_box .icon_wrapper,
.mfn-item .icon_box a .icon_wrapper,
.mfn-item.style-simple .icon_box:hover .icon_wrapper{color:#0089f7}
.mfn-item .icon_box:hover .icon_wrapper:before,
.mfn-item .icon_box a:hover .icon_wrapper:before{background-color:#0089f7}
.mfn-item ul.clients.clients_tiles li .client_wrapper:hover:before{background:#0089f7}
.mfn-item ul.clients.clients_tiles li .client_wrapper:after{border-bottom-color:#0089f7}
.mfn-item .list_item.lists_1 .list_left{background-color:#0089f7}
.mfn-item .list_item .list_left{color:#0089f7}
.mfn-item .feature_list ul li .icon i{color:#0089f7}
.mfn-item .feature_list ul li:hover,
.mfn-item .feature_list ul li:hover a{background:#0089f7}
.mfn-item .ui-tabs .ui-tabs-nav li.ui-state-active a,
.mfn-item .accordion .question.active .title > .acc-icon-plus,
.mfn-item .accordion .question.active .title > .acc-icon-minus,
.mfn-item .faq .question.active .title > .acc-icon-plus,
.mfn-item .faq .question.active .title,
.mfn-item .accordion .question.active .title{color:#0089f7}
.mfn-item .ui-tabs .ui-tabs-nav li.ui-state-active a:after{background:#0089f7}
.mfn-item.table-hover:not(.woocommerce-page) table tr:hover td{background:#0089f7}
.mfn-item .pricing-box .plan-header .price sup.currency,
.mfn-item .pricing-box .plan-header .price > span{color:#0089f7}
.mfn-item .pricing-box .plan-inside ul li .yes{background:#0089f7}
.mfn-item .pricing-box-box.pricing-box-featured{background:#0089f7}
.mfn-item input[type="date"],
.mfn-item input[type="email"],
.mfn-item input[type="number"],
.mfn-item input[type="password"],
.mfn-item input[type="search"],
.mfn-item input[type="tel"],
.mfn-item input[type="text"],
.mfn-item input[type="url"],
.mfn-item select,
.mfn-item textarea,
.mfn-item.woocommerce .quantity input.qty,
.mfn-item .dark input[type="email"],
.mfn-item .dark input[type="password"],
.mfn-item .dark input[type="tel"],
.mfn-item .dark input[type="text"],
.mfn-item .dark select,
.mfn-item .dark textarea{color:#626262;background-color:rgba(255,255,255,1);border-color:#EBEBEB}
.mfn-item input[type="date"]:focus,
.mfn-item input[type="email"]:focus,
.mfn-item input[type="number"]:focus,
.mfn-item input[type="password"]:focus,
.mfn-item input[type="search"]:focus,
.mfn-item input[type="tel"]:focus,
.mfn-item input[type="text"]:focus,
.mfn-item input[type="url"]:focus,
.mfn-item select:focus,
.mfn-item textarea:focus{color:#0089f7;background-color:rgba(233,245,252,1)!important;border-color:#d5e5ee}
.mfn-item :focus::-webkit-input-placeholder{color:#929292}
.mfn-item :focus::-moz-placeholder{color:#929292}

.mfn-item .woocommerce span.onsale, .mfn-item .shop_slider .shop_slider_ul li .item_wrapper span.onsale { border-top-color: #0089F7 !important; }